.sliderContainer {
    position: absolute;
    top: calc(100vh - 350px);
    z-index: 10;
    width: 100%;
    overflow: hidden;
}

.slider {
    position: relative;
    white-space: nowrap;
}

.slider p {
    position: relative;
    margin: 0;
    color: white;
    font-size: 8vw;
    font-weight: 500;
    padding-right: 50px;
    opacity: 0.8;
    mix-blend-mode: difference;
}

.slider p:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 0;
} 